
<h1>Available blood stats</h1>
<%= pie_chart @data ,  width: "800px", download: true,  library: {backgroundColor: "#DAF7A6"}%>
<br>
<button type="button"   id="hideMe" class="btn btn-primary" onclick="window.print()">

Print stats</button>
<%#= @data %>
