 </br>
   <h1 style="color:  darkorchid; text-align: center;">Not Found</h1>
 <h5 style="color:  darkorchid ; text-align: center;">Looks like you are lost, Aren't we all?</h5>

 </br>
 <center>
   <%= image_tag 'img_404.png', size:"300" %>
  </center>