<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <%= link_to 'Blood Donation Fourm',root_path,class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
   <li class="nav-item">
       


      </li>
      </ul>
      </div>
    <form class="form-inline my-2 my-lg-0 float-left">
      
     
      <%= link_to 'Requestor', req_login_path  ,class:"btn btn-outline-success my-2 my-sm-0 mr-1" %>
           
      <%= link_to 'Donor', new_donor_path,class:"btn btn-outline-danger my-2 my-sm-0" %>
    </form>
  </div>
</nav>