<h1>Editing requestor</h1>

<%= render "form", requestor: @requestor %>

<br>

<div>
  <%= link_to "Show this requestor", @requestor %> |
  <%= link_to "Back to requestors", requestors_path %>
</div>
